<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteRule chord/img/chords/(.*).gif app/Plugin/Chord/webroot/img/chords/$1
</IfModule>
