/*body{padding:0px 20px}*/
.front-banner{
    background: url('/img/bg-uke-02.jpg') no-repeat 0px -90px #eee;
}
.front-banner span.legend{
    position:relative;
    display:block;
    top:400px;
}
.topbar-inner .fb-like{
    margin-top:9px;
    margin-left:10px;
}
.hero-unit{
    padding-top:40px;
    padding-bottom:20px;
}
/*.font-welcome-box{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#fff;
    opacity:0.5;
}*/